#nav-content {

    background-color: #ff0000;

}




#ul-content {
    list-style: none;
    display: flex;
    width: 30%;
    margin: auto;
}
.img_logo {

    float: left;

    padding-top: 10px;

    width: 10%

   

  }

#li-content {

    font-size: 20px;
    padding: 30px;
    

}

#li-content a {

    color: #ffffff;

    text-decoration: none;

}

.about-img 
{
width: 250px;
height: 300px;
border-radius: 5px;
border-radius: 5px;
box-shadow: outset inset 25px grey;

}
